body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    background-color: #FAFAFA;
}

.container {
    margin: 5rem 1.5rem 2rem 1.5rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 4rem 0;
}

.header-headline,
.header-headline-strong,
.card-header-headline {
    color: hsl(234, 12%, 34%);
    font-size: 1.5rem;
}

.header-text,
.card-header-text {
    color: hsl(229, 6%, 66%);
}

.header-header {
    width: 100%;
    text-align: center;
}

.header-headline {
    font-weight: 200;
    margin-bottom: 0;
}

.header-headline-strong {
    font-weight: 600;
    margin: .8rem 0 0 0;
}


.header-text {
    text-align: center;
    width: 90%;
    margin: 1rem 1rem 0 1rem;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
}

.red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
}

.card-item {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    margin: 0 1rem 2rem 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}


.card-header {
    text-align: left;
    margin: 1rem 2rem 0 1rem;
}

.card-header-text {
    line-height: 2;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}


.card-image {
    align-self: flex-end;
    margin: 0 3rem 1rem 0;
}